@charset 'UTF-8';

@import 'utils';
@import 'base';

#root {
  height: 100%;
}

.aside {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 240px;
  padding-top: 60px;
  overflow-y: auto;
  background: #fafafa;
  z-index: 100;
  border-right: 1px solid #eee;
}

.container {
  display: flex;
  height: 100%;
  transition: margin-right 0.6s ease-in-out;
  > .content {
    max-width: 1024px;
    padding: 40px 0;
    margin: 0 auto;
  }
  &.type_vertical {
    > .content {
      max-width: 1440px;
    }
  }
}

@media screen and (min-width: 900px) {
  .container {
    margin-right: 300px;
  }
}

@media print {
  .container {
    > .content {
      padding: 0;
    }
  }
}
