@charset "UTF-8";

.button_control {
  position: fixed;
  top: 8px;
  right: 8px;
  width: 40px;
  height: 40px;
  color: $color-text;
  z-index: 50;
  :global(.side_open) & {
    &::before {
      top: 18px;
      transform: rotate(45deg);
    }
    &::after {
      bottom: 18px;
      transform: rotate(-45deg);
    }
    .bar {
      opacity: 0;
    }
  }
  &:hover {
    opacity: 0.7;
  }
  &::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 8px;
    width: 24px;
    height: 4px;
    background: $color-black;
    border-radius: 2px;
    transition: top 0.4s, transform 0.4s;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 8px;
    width: 24px;
    height: 4px;
    background: $color-black;
    border-radius: 2px;
    transition: bottom 0.4s, transform 0.4s;
  }
  .bar {
    position: absolute;
    top: 18px;
    left: 8px;
    width: 24px;
    height: 4px;
    background: $color-black;
    border-radius: 2px;
    opacity: 1;
    transition: opacity 0.4s;
  }
}

@media screen and (min-width: 900px) {
  .button_control {
    display: none;
  }
}

@media print {
  .button_control {
    display: none;
  }
}
