@charset "UTF-8";

.input_wrap {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  margin: 0 auto;
  .input_year {
    font-size: 80px;
    line-height: 120px;
    font-weight: bold;
  }
}
