@charset 'UTF-8';

.calendar_wrap {
  text-align: center;
  padding-top: 40px;
  .month_multi {
    display: inline-grid;
    margin: 0 20px 40px;
  }
}

@media print {
  .calendar_wrap {
    padding-top: 0;
  }
}
