@charset "UTF-8";

$color-primary: #07689f;
$color-secondary: #26baee;
$color-highlight: #ffb319;
$color-background: #f6f6f6;
$color-text: #222;

$color-white: #fff;
$color-black: #000;

$color-box-shadow: rgba(0, 0, 0, 0.2);
