@charset "UTF-8";

.controls_wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  overflow-y: auto;
  background: $color-background;
  box-shadow: 8px 8px 16px 8px $color-box-shadow;
  transition: width 0.6s ease-in-out;
  color: $color-text;
  z-index: 30;
  :global(.side_open) & {
    width: 300px;
  }
  .controls_inner {
    padding: 20px;
  }
}

@media screen and (min-width: 900px) {
  .controls_wrap {
    width: 300px;
  }
}

@media print {
  .controls_wrap {
    display: none;
  }
}
