@charset "UTF-8";

.month_wrap {
  display: inline-block;
  width: 10.5cm;
  height: 14.8cm;
  padding: 1cm 1cm 0;
  margin: 20px;
  text-align: left;
  box-shadow: 4px 6px 6px -2px $color-box-shadow;
  background: #fff;
  page-break-before: always;
  :global(.type_vertical) & {
    display: inline-grid;
    margin: 0;
    width: 14.8cm;
    height: 10.5cm;
    padding: 0.8cm 1cm 0 0;
    box-shadow: none;
    &:nth-child(2n + 1) {
      transform: rotate(180deg);
      page-break-before: avoid;
    }
    .month_header {
      grid-column-start: 1;
      grid-row: 1/3;
      width: 4.3cm;
      height: auto;
      padding: 0;
      text-align: center;
      line-height: 84px;
    }
    .month_name {
      display: block;
      padding: 0;
    }
    .day_area {
      grid-column-start: 2;
      margin-bottom: 0.2cm;
      width: 9.5cm;
    }
    .date_area {
      grid-column-start: 2;
      grid-template-rows: repeat(6, 1fr);
      width: 9.5cm;
      height: 8.7cm;
    }
  }
  .month_header {
    height: 3.5cm;
    font-size: 80px;
    padding: 0 0.4cm;
    color: #333;
    font-family: $font-family-pretendard;
  }
  .month_name {
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    padding-left: 4px;
    vertical-align: bottom;
  }
  .day_area {
    display: grid;
    height: 0.8cm;
    margin-bottom: 0.3cm;
    grid-template-columns: repeat(7, minmax(45px, 1fr));
    font-size: 14px;
    line-height: 0.8cm;
    color: #333;
    font-weight: 300;
    .day {
      text-align: center;
      &:first-child {
        color: #e03563;
      }
      &:last-child {
        color: #0074bc;
      }
    }
  }
  .date_area {
    display: grid;
    grid-template-columns: repeat(7, minmax(45px, 1fr));
    font-weight: 300;
  }
}

@media print {
  .month_wrap {
    margin: 0;
    box-shadow: none;
  }
}
