@charset "UTF-8";

.month_wrap {
  display: inline-block;
  width: 10.5cm;
  height: 14.8cm;
  padding: 0.4cm 0.7cm;
  margin: 32px;
  text-align: left;
  box-shadow: 4px 6px 6px -2px rgb(0 0 0 / 20%);
  background: #fff;
  page-break-before: always;
  .month_header {
    height: 4cm;
    font-size: 80px;
    padding: 0.5cm 0.4cm 0;
    color: #111;
    font-family: $font-family-gowunbatang;
  }
  .month_name {
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    padding-left: 4px;
    vertical-align: bottom;
  }
  .day_area {
    display: grid;
    height: 0.8cm;
    margin-bottom: 0.2cm;
    grid-template-columns: repeat(7, 1fr);
    font-size: 14px;
    line-height: 0.8cm;
    .day {
      text-align: center;
      font-weight: bold;
      &:first-child {
        color: #e03563;
      }
      &:last-child {
        color: #0074bc;
      }
    }
  }
  .date_area {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
}

@media print {
  .month_wrap {
    margin: 0;
    box-shadow: none;
  }
}
